name: Deploy to ECR

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image (correct folder!)
        run: |
          cd application
          docker build -t myapp:latest .

      - name: Tag image
        run: |
          cd application
          docker tag myapp:latest ${{ steps.login-ecr.outputs.registry }}/myapp:latest

      - name: Push image to ECR
        run: |
          cd application
          docker push ${{ steps.login-ecr.outputs.registry }}/myapp:latest

      - name: Trigger ASG rolling update
        run: |
          ASG_NAME="${{ secrets.ASG_NAME }}"
          aws autoscaling start-instance-refresh --auto-scaling-group-name "$ASG_NAME" --strategy Rolling
